.container{
    margin: 0 auto 1em auto;
}
.order{
    width: 100%;
}

.order th,.order td{
    text-align: center;
    padding: 5px;
    border:1px solid gray;
}
.order th{
    background: gray;
    color: #fff;
}
.news{
    padding:0 2%;
    line-height: 1.6;
}
h2{
    font-size: 26px;
    font-weight: 600;
}
@media(max-width:568px){
    .container{
        overflow-x: auto; 
      /*表格左右滑動下方內容不變，只有表格左右滑動。
      因為table非區塊元素，而是display:table，所以不適合在table格式上下overflow。建議在表格外面提供一個div給它並賦予overflow
      */
    }
    .order{
        width: 768px;
        /*自訂適合手機瀏覽的表格寬度。
      當瀏覽器568px時，表格會呈現768px的樣式但下方出現x軸scrollbar，而且內容文字不會因為寬度太小而變垂直呈現*/
    }
}